[submodule "include/bibliography"]
	path = include/bibliography
	url = git@github.com:krr-up/bibliography.git
[submodule "include/comments"]
	path = include/comments
	url = git@github.com:krr-up/latex-style-comments.git
[submodule "include/macros"]
	path = include/macros
	url = git@github.com:krr-up/asp-macros.git
